each comment in commentList
    form.col-md-8.commentlist-form
        .pull-left
            img.comment-head(src="/images/userhead.jpg")
        a.user-name(href="/info/") #{comment.auther.name}
        span 时间
        div(style="margin-left:40px")
            p #{comment.body}
            //
            //.div-right
            //    a.btn.btn-xs(href="javascript:void(0)") 回复
            //div.replydiv 时间
            //    input.comment-body
