.container
    .row
        .col-md-offset-2
            - if(entries)
                each entry in entries
                    form.col-md-8.entryForm
                        .pull-left
                            img.user-head(src="/images/userhead.jpg")
                        div(style="margin-left:80px")
                            a.user-name(href="/info/"  style="white-space:nowrap;") #{entry.userId.name}
                            p #{entry.body}
                    include ../includes/comment
                    form.col-md-8.commentlist-form
                        .pull-left
                            img.comment-head(src="/images/userhead.jpg")
                        span.commentlist-body
                        button#replyComment.btn.btn-xs 回复

style.
    p{word-break:break-all;}
    .entryForm{
        background-color: ivory;
        margin-left:10px;
        margin-top: 20px;
        padding: 20px 20px 4px;
    }
    .user-head{
        width: 60px;
        margin: 0 10px 20px;
    }
    .user-name {
        font-weight: 700;
        margin-bottom: 10px;
        vertical-align: top;
    }

    .commentlist-form {
        background-color: #d9edf7;
        margin-left: 10px;
        padding: 5px 20px 4px 10px;
        border-color: #9acfea;
        border-top-width: 1px;
        border-top-style: solid;
    }
    .commentlist-body {
        margin-left: 10px;
        width: 500px;
    }
    #replyComment{
        float: right;
    }
script.
    $("#publishEntry").on('click', function () {
        let body = $("#publishBody").val();
        if(body === null){
            return false
        }
        $.ajax({
            url: '/publish',
            type: 'POST', //GET
            async: true,    //或false,是否异步
            data: {
                body:body
            },
            timeout: 5000,    //超时时间
            dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
            success: function (data) {
                if (data) {
                    alert('success');
                    return true
                } else {
                    alert('faild');
                    return false
                }
            }
        })

    });

