.container
    .row
        .col-md-offset-2
            - if(entries)
                each entry in entries
                    div(id="#{entry._id}" style="background-color: ivory;margin-left:10px;")
                        form.col-md-8.entryForm
                            .pull-left
                                img.user-head(src="/images/userhead.jpg")
                            div(style="margin-left:80px")
                                a.user-name(href="/info/"  style="white-space:nowrap;") #{entry.userId.name}
                                p #{entry.body}
                        ul.nav.nav-pills.col-md-8.entry-tool
                            li
                                a(href="javascript:void(0)" entryId="#{entry._id}" onclick="showComment(this)") 评论
                            li
                                a 点赞
                        include ../includes/comment


style.
    p{word-break:break-all;}
    .entryForm{
        background-color: ivory;
        margin-top: 20px;
        padding: 20px 20px 4px;
    }
    .user-head{
        width: 60px;
        margin: 0 10px 20px;
    }
    .user-name {
        font-weight: 700;
        margin-bottom: 10px;
        vertical-align: top;
    }
    .entry-tool{
        background-color: ivory;
        border-color: #f2f2f5;
        border-top-width: 1px;
        border-top-style: solid;
    }

    .commentlist-form {
        background-color: #d9edf7;
        padding: 5px 20px 4px 10px;
        border-color: #9acfea;
        border-top-width: 1px;
        border-top-style: solid;
    }
    .commentlist-body {
        width: 500px;
    }
    #replyComment{
        float: right;
    }
script.
    function showComment(ele) {
        let entryId = $(ele).attr("entryId");
        $.get('/getEntrylist',{entryId:entryId},function (html) {
            let selector = 'div#' + entryId;
            let selectorChild = selector+' .commentlist-form';
            $(selectorChild).remove();
            $(selector).append(html);
        })
    }
