doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/socket.io.js")
    script(src="/javascripts/main.js")

  body(style="background-image:url(/images/background.jpg);margin-top:50px;")
    include ./includes/header
    button.back_to_top 返回顶部
  block content