extends ../layout

block content
  script(src="/javascripts/main.js")
  .container
    .row
      .col-md-offset-2
        form.col-md-8.publishForm
          h4 say something~
          textarea#publishBody.form-control
          a#publishEntry.btn-primary.btn.btn-default(href="javascript:void(0)" onclick="publishEntrys(this)") 发布
  include ../includes/entries
  style.
    #publishEntry{
      margin: 5px;
      float:right;
    }
    #publishBody{
      width: 620px;
      height: 125px;
    }
    textarea{
      resize: none;
    }

    .publishForm {
      background-color: ivory;
      margin: 10px;

    }

