extends ../layout

block content
  script(src="/javascripts/index.js")
  link(rel='stylesheet', href='/stylesheets/index.css')
  .container
    .row
      .col-md-offset-2
        form.col-md-8.publishForm
          h4 say something~
          textarea#publishBody.form-control
          a#publishEntry.btn-primary.btn.btn-default(href="javascript:void(0)" onclick="publishEntrys(this)") 发布
  include ../includes/entries

