extends ../layout

block content
    .container
        form.form-login#loginFormFirst(role="form" action='/login' method='post')
            h2.text-center 登录
            input.form-control(type="text" id="Loginusername" name="username"
            required=true autofocus=true placeholder="请输入账号")
            input.form-control(type="password" id="Loginpassword" name="userpassword" placeholder="密码" required=true)
            a.btn.btn-block.btn-success#loginsubmit(onclick="loginSubmitFirst()") 登录

    style.
        .form-login{
            width: 360px;
            padding:15px;
            margin:200px 0px 0px 0px;
        }
        input {
            margin-bottom: 8px;
        }
        .messageDanger {
            background-color: #f2dede;
            color: #a94442;
        }
    //script(src="/javascripts/register.js")
    script.
        function loginSubmitFirst() {
            let ispass = false
            let name = $("#Loginusername").val();
            let password = $("#Loginpassword").val();
            $.post('/login/check', {
                username: name,
                userpassword: password
            }, function (result, textStatus, jqXHR) {
                if (result) {
                    ispass = true;
                    $("#loginFormFirst").submit();
                } else {
                    alert("登录失败");
                    return false;
                }
            })

            return ispass

        };
